.main-container{
    width: 100vw;
    height: 100vh;
}
.signup-box{
    width: 70%;
    height: 70%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.heading-box{
    display: flex;
    justify-content: center;
}
.heading-box h1{
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 29px;
}
.signup-box form{
    display: flex;
    flex-direction: column;

}
.signup-box form label,
.signup-box form input
{
    font-weight: 700;

}
.signup-box label {
    margin-bottom: 5px;
    font-weight: bold;
    /* font-size: larger; */
}
.signup-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.signup-box button{
    width: 60px;
    padding: 3px;
    /* display: flex; */
    /* border: none; */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    
}
.signup-box button:hover{
    background-color: rgb(124, 121, 121);
}
